!!!
%html{lang: "en"}
  %head
    %script{src: "http://code.jquery.com/jquery-1.10.1.min.js", type: "text/javascript"}
    %script{src: "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js", type: "text/javascript"}

    %link{href: "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", rel: "stylesheet"}

    %link{href: "/style.css", rel: "stylesheet"}
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "/css/bootstrap-theme.min.css", rel: "stylesheet"}

    %title= "JA - Welcome to Our Wedding"

  %body
    - if flash[:notice]
      .alert.alert-success= flash[:notice]

    %div.main_layout

      %div.main_header
        %div.rsvp_section
          %a.rsvp_link{href: url('/rsvp')}
            = "RSVP  TODAY!"

        .navigation_headers
          %ul.navigation_header_items
            %li.home
              %a{href: url('/')}
                %div= 'home'
            %li.navigation_item
              %a{href: url('/our_story')} OUR STORY
            %li.navigation_item
              %a{href: url('/proposal')} THE PORPOSAL
            %li.navigation_item
              %a{href: url('/our_bio')} OUR BIO
            %li.navigation_item
              %a{href: url('/wedding_party')} GROOMSMEN/BRIDESMAIDS
            %li.navigation_item
              %a{href: url('/venue')} CEREMONY & VENUE INFO

      = yield
